.center{
        text-align: center;
        padding-top: 200px;
}

form {
        width:500px;
        margin:50px auto
}
.search {
        padding:8px 15px;
        background:rgba(50, 50, 50, 0.2);
        border:0px solid #dbdbdb
}
.button {
        position:relative;
        padding:6px 15px;
        left:-8px;
        border:2px solid #207cca;
        background-color:#207cca;
        color:#fafafa
}
.button:hover  {
        background-color:#fafafa;
        color:#207cca
}

.ask {
        color: blue;
        position: relative;
        text-align: center
}


#cmc {
        background-color: darkred;
}
#frary {
        background-color: dodgerblue;
}
#frank {
        background-color: deepskyblue;
}
#scripps {
        background-color: darkolivegreen;
}
#pitzer {
        background-color: darkorange;
}
#mudd {
        background-color: goldenrod;
}
#oldenborg {
        background-color: gainsboro;
}
