.center{
        text-align: center;
        padding-top: 100px;
        font-style: bold;
}
#audio {display:none;}

body {
        background-image: url('assets/cmc.jpg');
        background-size: cover;
}

p {
        color: white;
        font-size: 30px;
}

form {
        width:800px;
        margin:50px auto
}
.search {
        padding:8px 15px;
        background:rgba(50, 50, 50, 0.2);
        border:0px solid #dbdbdb
}

button {
        position:relative;
        padding:6px 15px;
        left:-8px;
        border:2px solid #207cca;
        background-color:#207cca;
        color:#fafafa
}
button:hover  {
        background-color:#fafafa;
        color:#207cca
}

.ask {
        color: white;
        position: relative;
        text-align: center;
        font-family: verdana, serif;
        font-size: 50px;
        padding-bottom: 40px;
}

.option {
        color: white;
        font-size: 20px;
        width: 600px;
        border: 10px white;
        margin-right: 350px;
        margin-left: 350px;
        margin-bottom: 45px;
        margin-top: 50px;
        background-color: #a80b00;
        background-color: rgba(168, 11, 0, 0.48);
        text-align: center;
}

.outcome {
        color: white;
        font-size: 150px;
        width: 800px;
        border: 10px white;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 45px;
        text-align: center;
        background-color: #a80b00;
        background-color: rgba(168, 11, 0, 0.48);
}

#cmc {
        background-color: darkred;
} 
#cmc a {
        color: white; 
}
#frary {
        background-color: dodgerblue;
}
#frary a {
        color: white;
}
#frank {
        background-color: deepskyblue;
}
#frank a {
        color: white;
}
#scripps {
        background-color: darkolivegreen;
}
#scripps a {
        color: white;
}
#pitzer {
        background-color: darkorange;
}
#pitzer a {
        color: white;
}
#mudd {
        background-color: goldenrod;
}
#mudd a {
        color: white;
}
#oldenborg {
        background-color: slategray;
}
#oldenborg a {
        color: white;
}
